*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: white;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #111;
}
#box1{
    width: 300px;
    height: 300px;
    background-color: crimson;
}
#box2{
    width: 300px;
    height: 300px;
    background-color: cyan;
}
#box3{
    width: 300px;
    height: 300px;
    background-color: yellow;
}


/* Nav bar Here */

#nav{
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
}
#nav h1,li{
    color: black;
}

#nav ul{
    list-style-type: none;
    display: flex;
    gap: 80px;
    margin: 0;
    padding: 0;
}
#nav ul li{
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
    font-size: 18px;
    
}

#name {
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
    
}